
Language:        Cpp
Standard:        Latest
BasedOnStyle:    LLVM
IndentWidth:     4
TabWidth:        4
UseTab:          Never
IndentCaseLabels: false
AccessModifierOffset: -4
IndentPPDirectives: None
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left
Cpp11BracedListStyle: false
SpaceInEmptyBlock: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeRangeBasedForLoopColon: true
ColumnLimit:     120
SortIncludes:    true
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyReturnTypeOnItsOwnLine: 60
