# build
build/
build-*/
cmake-build*/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Prerequisites
*.d

# binaries
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.pdb

# debug information files
*.dwo

# IDE
.idea/
.vscode/
*.user
*.suo
*.VC.db
AGENTS.md
